@(items: List[Item], categoria: Option[Categoria])

@main("LoPeorDeLaWeb Catalogo") {

	@categoria match {
	
		case None => {
			<h2> Categoría no existente </h2>
		}
		
		case Some(c) => {
		
			<h2> Categoría: @c.nombre <a href=@routes.Categoria.mostrar(c.nombre)>(editar)</a> </h2>
			
			<a href=@routes.Item.form(c.nombre)>Añadir item</a>
			
			@itemMostrarLista(items)
		}
	
	}

}