@(categoryForm: Form[models.CategoriaDAO], cantidad: Int = 1)

@main("Crear categoria") {

	@helper.form(action = routes.Categoria.crear()) {
	
	  @helper.inputText(categoryForm("nombre"))
	  
	  @helper.repeat(categoryForm("campos"), min = cantidad) { campo =>
	  	@helper.inputText(campo)
	  }
	  
	  <a href=@routes.Categoria.form(cantidad + 1)>Agregar campo</a>
	  
	  <br>
	  <br>
	  
	  <input type="submit" value="Crear categoría">
	  
	}

	@if(categoryForm.hasGlobalErrors) {
	  <h3> Errores: </h3>
	  <ul>
	  @for(error <- categoryForm.globalErrors) {
	    <li>@error.message</li>
	  }
	  </ul>
	}

}