@(cat: Option[Categoria], campos: List[String])

@main("LoPeorDeLaWeb Catalogo") {

	@cat match {
	
		case None => {
			<h2> Categoría no existente </h2>
		}
		
		case Some(c) => {
		
		    <h2> @c.nombre <a href=@routes.Categoria.borrar(c.nombre)>(eliminar)</a> </h2>
			
			@for(campo <- campos) {
			    <p> @campo </p>
			    <br>
		    }
		}
	
	}

}