@(itemForm: Form[ItemDAO], categoria: String, campos: List[String])

@main("Crear Item") {

	@helper.form(action = routes.Item.crear(categoria)) {
	
	  @helper.inputText(itemForm("categoria"))
	  
	  @for(campo <- campos) {
	    <p> @campo </p>
	    <br>
	  }
	  
	  <input type="submit" value="Submit">  
	  
	}

	@if(itemForm.hasGlobalErrors) {
	  <h3> Errores: </h3>
	  <ul>
	  @for(error <- itemForm.globalErrors) {
	    <li>@error.message</li>
	  }
	  </ul>
	}

}