@(cat: Option[Item])

@main("LoPeorDeLaWeb Catalogo") {

	@cat match {
	
		case None => {
			<h2> Item no existente </h2>
		}
		
		case Some(c) => {
			<h2> @c.id </h2>
			<br>
			<h2> @c.categoria.nombre </h2>
		}
	
	}

}